* {
    /* Universal selector, lowest inheritance.
    Very common to initialize margin, padding
    and other traits here as a kind of 
    'global reset' or 'global initialization'
    */
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    font-family: sans-serif;

}

.main-header {
    background-color: #f7f7f7;
    /* Long way of defining paddings. 
    /* padding: 20px;
    padding-left: 40px;
    padding-right: 40px; */
    /* Shorthand way of defining paddings. */
    padding: 20px 40px;
    margin-bottom: 60px;
    height: 80px;
}

nav {
    font-size: 18px;
}

article {
    margin-bottom: 40px;
}

.post-header {
    margin-bottom: 40px;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid rgba(16, 152, 173, 0.753);
    border-bottom: 5px solid rgba(16, 152, 173, 0.753);
    padding: 50px 0;
    width: 500px;
}

h1, h2, h3 {
    color: rgba(16, 152, 173, 0.753);
}

h1 {
    color: rgba(16, 152, 173, 0.753);
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
    /* Keep in mind the phenomonen of 'collecting margins'.
    When 2 margins occupy the say space, only one is visible,
    typically the larger of the two margins. */
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul, li {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

/* footer p {
    font-size: 16px;
} */

/* article header p {
    font-style: italic;
} */

/* Do not repeat ids # - use . classes for repetition. 
ID's are one usa case, classes are for multiple use cases. 
Typically we use classes and not ID's. */

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}

.main-header {
    background-color: #f7f7f7;
}

li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

li:nth-child(2) {
    color: red;
}

li:nth-child(odd) {
    color: blue;
}

article p:first-child { /* This doesn't work because the first child of article is not a p tag. */
    color: red;
}

/* This is an example of using 'last-child' element in a way that doesn't work. */
article p:last-child { /* This works because the last child of article is a p tag. */
    color: red;
}

/* Styling links - Lesson 29 */
a:link {
    color:rgba(16, 152, 173, 0.753);
    text-decoration: none;
}

a:visited {
    color:rgba(16, 152, 173, 0.753);
}

a:hover {
    /* Styles the link when your mouse is over it. 'text decoration' property has 3 traits. */
    color: orangered;
    font-weight: bold;
    text-decoration: underline none orangered;
}

a:active {
    /* Styles the link when your mouse is clicking. */
    background-color: black;
    font-style: italic;
}

/* nav a:link {
    font-size: 18px;
} */

.post-img {
    width: 100%;
    height: auto;
}
