/*
    Jonas Schmedtmann's Unit 3: Coding Challenge 3.
    Completed by Aaron Torres. 
    Wednesday, 23 March 2022 

    Styling ideas for the Chuck Taylors coding challenge #3.

    0. Add a 'sale' element using the p tag and a class. Position correctly.
    1. Put a little bit of space between each letter, google it.
    2. Create an element, inside the element (div), create more div's inside
    that shows each color for the shoe. 
    3. Look at the box model lesson for reference. 
*/

/* 2. Global reset of margin/padding. */
* {
    margin: 0;
    padding: 0;
}

.product {
    border: 5px solid #000;
    font-family: sans-serif;
    line-height: 30px;
    /* 0 / 1. Center the article element. */
    width: 825px;
    margin: 50px auto;
}

.headline {
    text-transform: uppercase;
    text-align: center;
    background-color: #F7F7F7;
    /* 3. Adding add'l margins and paddings. */
    margin-bottom: 20px;
    padding: 20px 0;
}

/* 0 and 1: The 'sale' element in the upper left corner. */
.sale {
    background-color: #c90202;
    color: rgb(219, 219, 219);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;
    padding: 5px 20px;
    position: absolute;
    top: 30px;
    left: 155px;
}

.img-chuck-taylors {
    border-radius: 50%;
}

.headline-img-container {
    /* Center the image within a div. 
    This is an extra touch for the coding challenge. */
    display: flex;
    justify-content: center;
}

.price {
    /* You can change the p element with the "price" class here. 
    However, the change needed can be done in HTML with the <strong> element. 
    */
    text-transform: strong;
    font-size: 20px;
}

.free-shipping {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: rgb(148, 148, 148);
    /* 3. Adding add'l margins and paddings. */
    margin-bottom: 20px;
}

.example-colors {

}

.box {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0);
}

.product-details-headline {
    margin-top: 20px;
    margin-left: 20px;
    text-transform: uppercase;
}

.product-details {
    list-style-type: square;
    margin: 20px 20px;
}

/* BUTTON */
.add-to-cart {
    background-color: #000;
    border: none;
    color: #F7F7F7;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    /* 4. Add padding and make the width across the whole container. */
    padding: 15px;
    width: 100%;
    /* 4. continued, need to add a border. */
    border-top: 5px solid #000;
}

.add-to-cart:hover {
    background-color: #F7F7F7;
    color: #000;
    cursor: pointer;
}

.link-more-information:hover,
.link-more-information:active {
    text-decoration: none;
    color: rgb(134, 0, 0);